body{
	background-color:lightblue;
}
 h1
 {
 	background-color:lightyellow;
 	color: red;
 }

 ol
 {
 	font-family: Arial;
    list-style-type:ethiopic-abegede;
    color: palevioletred;
 }

 ul
 {
 	font-family: Arial;
    
    color: green;
 }



#at
{
	background-color:darkcyan;
	border: 1px solid black;
}

a{
    padding: 10px;
	color:red;
	padding: 20px;
	margin-top: 10px;
	margin-left: 10px;
	text-align:center;
	background-color:yellow;
}

a:hover
{
	background-color: blue;
    color: violet;
}